<%- include('../../partials/header.ejs') %>
   <%- include('../../partials/navbar.ejs') %>
      <section class="primary-section">
         <div class="container">
            <div class="card">
               <div class="card-header">
                  <h2>Cadastro de categoria</h2>
               </div>
               <div class="card-body">
                  <form method="post" action="/categories/save">
                     <div class="form-group">
                        <input class="form-control" type="text" name="title" placeholder="Defina o título da categoria">
                     </div>
                     <button class="btn btn-default">Cadastrar</button>
                  </form>
               </div>
            </div>
         </div>
      </section>
<%- include('../../partials/footer.ejs') %>