   </body>
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
   <!-- Custom JavaScript -->
   <script>
      function confirmDelete(event, form) {
         event.preventDefault();
         const decision = confirm('Tem certeza que deseja excluir esta categoria?');
         if (decision) {
            form.submit();
         }
      }
   </script>
</html>