<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <!-- TinyMCE -->
      <script src="https://cdn.tiny.cloud/1/b2s7snsjz1hd22pgc8whpdz2qwmuxnc6yw29u60og8pgzxbe/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
      <!-- Meta Tags -->
      <title>LucasDev - Blog</title>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <meta name="description" content="This is meta description Sample. We can add up to 158.">
      <meta name=”robots” content=”index, follow”>
      <link rel="icon" type="image/png" href="/img/favicon.png">
      <!-- Twitter Tags -->
      <meta name="twitter:title" content="TITLE OF POST OR PAGE">
      <meta name="twitter:description" content="DESCRIPTION OF PAGE CONTENT">
      <meta name="twitter:image" content="LINK TO IMAGE">
      <meta name="twitter:site" content="@USERNAME">
      <meta name="twitter:creator" content="@USERNAME">
      <!-- CSS -->
      <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
      <link rel="stylesheet" href="/fontawesome/css/all.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap">
      <link rel="stylesheet" href="/css/colors.css">
      <link rel="stylesheet" href="/css/patterns.css">
      <link rel="stylesheet" href="/css/customize.css">
      <link rel="stylesheet" href="/css/responsive.css">
      <link rel="stylesheet" href="/css/style.css">
   </head>
   <body class="bg-body">