<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-navbar">
   <div class="container">
      <a href="/" class="navbar-brand">
         LucasDev - Blog
      </a>
      <ul class="navbar-nav">
         <% categories.forEach(category => { %>
            <li class="nav-item">
               <a class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a>
            </li>
         <% }) %>
         <li class="nav-item">
            <a class="nav-link" href="/about">Sobre este Blog</a>
         </li>
      </ul>
   </div>
</nav>