<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-navbar">
   <div class="container">
      <a href="/" class="navbar-brand">LucasDev - Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo01">
         <ul class="navbar-nav">
            <% categories.forEach(category => { %>
               <li class="nav-item">
                  <a class="nav-link" href="/category/<%= category.slug %>"><%= category.title %></a>
               </li>
            <% }) %>
            <li class="nav-item">
               <a class="nav-link" href="/about">Sobre este Blog</a>
            </li>
         </ul>
      </div>
   </div>
</nav>