<div class="col-md-4">
   <div class="sidebar-area pd-30">
      <!-- <div class="widget">
         <input type="search" class="form-control" placeholder="Pesquise aqui"/>
      </div> -->
      <div class="widget">
         <h3 class="sidebar-title">Sobre Mim</h3>
         <p>Me chamo Lucas Eduardo, tenho 21 anos e atuo com desenvolvimento web desde de 2017.</p>
         <div class="social-media">
            <a href="https://www.linkedin.com/in/lucas-eduardo/" target="_blank">
               <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/lucas-eedu" target="_blank">
               <i class="fab fa-github"></i>
            </a>
            <a href="mailto:lucas01.dev@gmail.com" target="_blank">
               <i class="fab fa-google-plus-square"></i>
            </a>
            <a href="https://www.instagram.com/lucas_edev/" target="_blank">
               <i class="fab fa-instagram"></i>
            </a>
         </div>
      </div>
      <div class="widget">
         <h3 class="sidebar-title">Posts Recentes</h3>
         <div class="recent-posts">
            <% recentArticles.forEach(recentArticle => { %>
               <div class="post-item">
                  <div class="post-image">
                     <a href="/<%= recentArticle.slug %>">
                        <img width="60" height="60" src="https://tech-cookbook.com/wp-content/uploads/2021/11/wp-macos12-mysql-workbench-750x410.png" alt="Título do Post">
                     </a>
                  </div>
                  <div class="post-content">
                     <a href="/<%= recentArticle.slug %>"><%= recentArticle.title %></a>
                  </div>
               </div>
            <% }) %>
         </div>
      </div>
      <!-- <div class="widget">
         <h3 class="sidebar-title">Newsletter</h3>
         <p>Cadastre-se gratuitamente e seja o primeiro a ser notificado sobre atualizações.</p>
         <form action="">
            <div class="form-group">
               <input type="text" name="email" class="form-control" placeholder="Digite seu e-mail">
            </div>
            <button type="submit" class="btn btn-default">Inscreva-se</button>
         </form>
      </div> -->
   </div>
</div>