<div class="col-md-4">
   <div class="sidebar-area pd-30">
      <div class="search-form">
         
      </div>
      <div class="about-me">
         <h3 class="sidebar-title">Sobre Mim</h3>
         <p>Me chamo Lucas Eduardo, tenho 21 anos e atuo com desenvolvimento web desde de 2017.</p>
         <p>Sou apaixonado por tecnologia, empreendedorismo e investimentos. </p>
      </div>
      <div class="social-media">
         <h3 class="sidebar-title">Redes Sociais</h3>
         <div class="">
            <div class="">
               <a class="" href="" target="_blank">
                  <i class="fab fa-whatsapp"></i>
               </a>
            </div>
         </div>
      </div>
      <div class="recent-posts">

      </div>
      <div class="share">

      </div>
   </div>
</div>