<%- include('partials/header.ejs') %>
   <%- include('partials/navbar-home.ejs') %>
   <section class="mt-50 mb-50">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <div class="card">
                  <div class="card-body pd-30">
                     <h1 class="card-title">Sobre este Blog</h1>
                     <p>Olá, tudo bem?</p>
                     
                     <p>Me chamo Lucas Eduardo, tenho 21 anos e atuo com desenvolvimento web desde de 2017.</p>
                     
                     <p>Sou experiente com as tecnologias: PHP, JavaScript(Node), HTML, CSS, e MySQL no desenvolvimento de sistemas e websites e nos frameworks como: Express, Laravel, Codeigniter e Bootstrap.</p>
                     
                     <p>Eu desenvolvi este blog com para de ser algo além de um portfólio, mas com um principal objetivo: <b>ajudar a comunidade brasileira de devs</b>. </p>
                        
                     <p>Afinal, sempre que eu tenho alguma dúvida ou dificuldade eu recorro a portais, blogs, stackoverflow, entre outros e nunca tinha feito algo que ajudasse a comunidade que tanto me ajuda.</p>
                     
                     <p>Espero que estes conteúdos de alguma forma possam ajudar você.</p>
                     
                     <p>Caso você queria me ajudar no desenvolvimento ou na produção/ajustes dos conteúdos é só me chamar! haha</p>
                  </div>
               </div>
            </div>
            <!-- Sidebar -->
            <%- include('partials/sidebar.ejs') %>
         </div>
      </div>
   </section>
<%- include('partials/footer.ejs') %>