/* ===================
1) All Padding Patterns
2) All Margin Patterns
3) Margin Top Patterns 
4) Margin Bottom Patterns
5) Margin Left Patterns 
6) Margin Right Patterns
7) Alignments Patterns
8) Displaying Patterns
9) Floating Patterns
==================== */

/* 1) All Padding Patterns  */
.pd-10 {
   padding: 10px;
}

.pd-20 {
   padding: 20px;
}

.pd-30 {
   padding: 30px;
}

.pd-40 {
   padding: 40px;
}

.pd-50 {
   padding: 50px;
}

.pd-60 {
   padding: 60px;
}

.pd-70 {
   padding: 70px;
}

.pd-80 {
   padding: 80px;
}

.pd-90 {
   padding: 90px;
}

.pd-100 {
   padding: 100px;
}

/* 2) All Margin Patterns  */
.mg-10 {
   margin: 10px;
}

.mg-20 {
   margin: 20px;
}

.mg-30 {
   margin: 30px;
}

.mg-40 {
   margin: 40px;
}

.mg-50 {
   margin: 50px;
}

.mg-60 {
   margin: 60px;
}

.mg-70 {
   margin: 70px;
}

.mg-80 {
   margin: 80px;
}

.mg-90 {
   margin: 90px;
}

.mg-100 {
   margin: 100px;
}

/* 3) Margin Top Patterns  */
.mt-10 {
   margin-top: 10px;
}

.mt-20 {
   margin-top: 20px;
}

.mt-30 {
   margin-top: 30px;
}

.mt-40 {
   margin-top: 40px;
}

.mt-50 {
   margin-top: 50px;
}

.mt-60 {
   margin-top: 60px;
}

.mt-70 {
   margin-top: 70px;
}

.mt-80 {
   margin-top: 80px;
}

.mt-90 {
   margin-top: 90px;
}

.mt-100 {
   margin-top: 100px;
}

/* 4) Margin Bottom Patterns */
.mb-10 {
   margin-bottom: 10px;
}

.mb-20 {
   margin-bottom: 20px;
}

.mb-30 {
   margin-bottom: 30px;
}

.mb-40 {
   margin-bottom: 40px;
}

.mb-50 {
   margin-bottom: 50px;
}

.mb-60 {
   margin-bottom: 60px;
}

.mb-70 {
   margin-bottom: 70px;
}

.mb-80 {
   margin-bottom: 80px;
}

.mb-90 {
   margin-bottom: 90px;
}

.mb-100 {
   margin-bottom: 100px;
}

/* 5) Margin Left Patterns */
.ml-10 {
   margin-left: 10px;
}

.ml-20 {
   margin-left: 20px;
}

.ml-30 {
   margin-left: 30px;
}

.ml-40 {
   margin-left: 40px;
}

.ml-50 {
   margin-left: 50px;
}

.ml-60 {
   margin-left: 60px;
}

.ml-70 {
   margin-left: 70px;
}

.ml-80 {
   margin-left: 80px;
}

.ml-90 {
   margin-left: 90px;
}

.ml-100 {
   margin-left: 100px;
}

/* 6) Margin Right Patterns */
.mr-10 {
   margin-right: 10px;
}

.mr-20 {
   margin-right: 20px;
}

.mr-30 {
   margin-right: 30px;
}

.mr-40 {
   margin-right: 40px;
}

.mr-50 {
   margin-right: 50px;
}

.mr-60 {
   margin-right: 60px;
}

.mr-70 {
   margin-right: 70px;
}

.mr-80 {
   margin-right: 80px;
}

.mr-90 {
   margin-right: 90px;
}

.mr-100 {
   margin-right: 100px;
}

/* 7) Alignments Patterns */
.vertical-center {
   align-items: center;
}

/* 8) Displaying Patterns  */
.display-group-btn {
   display: inline;
}

/* 9) Floating Patterns */
.float-left {
   float: left;
}

.float-right {
   float: right;
}