.bg-default {
   background-color: #5e00d2;
}

.primary-section {
   padding-top: 50px;
   padding-bottom: 50px;
}

.btn-default {
   color: #fff;
   background-color: #5e00d2;
}

.btn-default:hover {
   color: #fff;
   background-color: #40008f;
}