.bg-default {
   background-color: #5e00d2;
}

.vertical-center {
   align-items: center;
}

.primary-section {
   padding-top: 50px;
   padding-bottom: 50px;
}

.btn-default {
   color: #fff;
   background-color: #5e00d2;
}

.btn-default:hover {
   color: #fff;
   background-color: #40008f;
}

.display-group-btn {
   display: inline;
}